<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Striped Progress bar
          <div class="progress m-t-20 active">
            <div
              class="progress-bar bg-primary progress-bar-striped"
              style="height: 6px"
              role="progressbar"
              [style.width]="getProgress1(increaser1.maxValue)"
            ></div>
          </div>
          <div class="progress m-t-20 active">
            <div
              class="progress-bar bg-info progress-bar-striped"
              style="height: 6px"
              role="progressbar"
              [style.width]="getProgress2(increaser2.maxValue)"
            ></div>
          </div>
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increaser
          #increaser1
          [value]="progress1"
          [minValue]="0"
          [maxValue]="100"
          [increaseDecrease]="5"
          [btnClass]="'btn-primary'"
          (value)="this.progress1 = $event"
        ></app-increaser>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increaser
          #increaser2
          [value]="progress2"
          [minValue]="-50"
          [maxValue]="50"
          [increaseDecrease]="10"
          [btnClass]="'btn-info'"
          (value)="this.progress2 = $event"
        ></app-increaser>
      </div>
    </div>
  </div>
</div>
