<div class="input-group">
  <span class="input-group-btn">
    <button
      [ngClass]="btnClass"
      type="button"
      (click)="changeValue(-increaseDecrease)"
    >
      <i class="fa fa-minus" aria-hidden="true"></i>
    </button>
  </span>
  <input
    type="number"
    class="form-control text-center"
    [ngClass]="{ 'is-invalid': value > maxValue || value < minValue }"
    max="100"
    min="0"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
  />
  <span class="input-group-btn">
    <button
      [ngClass]="btnClass"
      type="button"
      (click)="changeValue(increaseDecrease)"
    >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </span>
</div>
