/* You can add global styles to this file, and also import other style files */
.fast {
  animation-duration: 0.3s;
  -webkit-animation-direction: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}
